version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend_app
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
    command: sh -c "npx prisma migrate deploy && node dist/server.js"

  frontend:
    build: ./frontend
    container_name: frontend_app
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:4000
    depends_on:
      - backend

  db:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: loja
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
